@model Bids[]

@foreach (var bid in Model)
{
    <div>Значение показателя: @bid.BidValue</div>
    <div>
        @for (int i = 0; i < bid.Rows.Length; i++)
        {
            <div class="card">
                <div>Предмет: @bid.Rows[i].Subject.Name</div>
                <div>Факультет: @bid.Rows[i].FacultyName</div>
                <div>Студентов: @bid.Rows[i].StudentsCount</div>
                <div>Срок: @bid.Rows[i].Term</div>
                <div>Всего часов: @bid.Rows[i].TotalHours</div>
                <button data-content="bid-information" data-bids="@i" data-value="@i">Доп. информация</button>
                <div class="bid-information-@i" hidden>
                    @foreach (var group in bid.Rows[i].Group)
                    {
                        <div>Группа: @group.Name</div>
                    }
                    @foreach (var cell in bid.Rows[i].Cells)
                    {
                        <div>Название ячейки: @cell.Name</div>
                        <div>Значение: @cell.Value</div>
                    }
                </div>
            </div>
        }
    </div>
}